/*
 * Blue: 6ed3cf;
 * Purple: 9068be;
 * Grey: e1e8f0;
 * Red: e62739;
 * Black: 000000;
 * White: FFFFFF;
 * Green: A5D36E;
 */

html, body {
  color: #000000;
  font-family: 'Lora', serif;
  height: 95%;
}

b {
  color: #6ed3cf;
}

a {
  color: #6ed3cf;
  font-style: underline;
}

img {
  padding: 50px 50px 0px 50px;
}

.fill {
  min-height: 90%;
  height: 100%;
}

#hero {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 10%;

  background: url('../img/Zurich.jpg');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  display: compact;
  background-color: #6ed3cf;

  font-family: 'Alice', serif;
  text-align: center;
  color: #FFFFFF;
}

#hero h1 {
  text-shadow: 1px 1px #e1e8f0;
}

#AboutMe {
  background-color: #7146a0;
  color: #FFFFFF;
  padding-bottom: 50px;
}

#AboutMe h2 {
  text-align: center;
}

#AboutMe img {
  padding-top: 8%;
  width: 100%;
}

#AboutMe a:hover {
  color: #A5D36E;
}

#AboutMe .see-more {
  text-align: right;
}

#linkage {
  background-color: #e1e8f0;
  padding-bottom: 25px;
}

#linkage h2 {
  text-align: center;
}

#linkage img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#linkage img:hover {
  background-color: #A5D36E;
}

#linkage #social-links {
  text-align: center;
}

#ContactMe {
  background-color: #6ed3cf;
  padding-top:10px;
}

#ContactMe a {
  color: #000000;
}

#ContactMe a:hover {
  color: #9068be;
}

#ContactMe .right-align {
  text-align: right;
}

#four0Four {
  text-align: center;
}

#four0Four img{
  width: 100%;
  height: 100%;
}

#blog {
  height: 100%;
  width: 100%;
  background-color: #e1e8f0;
}

#blog a {
  color: #9068be;
}

.back {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #6ed3cf;
  padding-top:10px;
  padding-bottom:10px;
  text-align: right;
}

.back a {
  color: #000000;
}

.back a:hover {
  color: #9068be;
}

.portfolioPage {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.portfolioPage .photos img {
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.portfolioPage .video {
  padding-left: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.portfolioPage img {
  padding: 10px 50px 0px 50px;
  width: 35%;
  height: 35%;
}

.socialPress {
  padding-top: 2%;
  padding-bottom: 3%;
}

.eventsList img {
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
