/*
 * Blue: 6ed3cf;
 * Purple: 9068be;
 * Grey: e1e8f0;
 * Red: e62739;
 * Black: 000000;
 * White: FFFFFF;
 * Green: A5D36E;
 */

html, body {
  color: #000000;
  font-family: 'Lora', serif;
  background: #f6f1ed;
}

p, li {
  color: #30231d;
}

a {
  color: #CD5360;
}

a:hover {
  color: #9e2e39;
}

.title {
  padding-bottom: 10px;
}

#frontpage {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 10%;
  padding-bottom: 70px;
}

#frontpage h1, h2 {
  text-align: center;
  color: #30231d;
}

#frontpage img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#frontpage img:hover {
  background-color: #eec4c8;
}

#frontpage #social-links {
  text-align: center;
}

#ContactMe {
  background-color: #30231d;
  padding-top:10px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

#ContactMe {
  background: #30231d;
}

#ContactMe p {
  color: #f6f1ed;
}

#ContactMe .right-align {
  text-align: right;
}

#four0Four {
  text-align: center;
}

#four0Four img{
  width: 100%;
  height: 100%;
}

#blog {
  height: 100%;
  width: 100%;
  background-color: #e1e8f0;
}

#blog a {
  color: #9068be;
}

.back {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #6ed3cf;
  padding-top:10px;
  padding-bottom:10px;
  text-align: right;
}

.back a {
  color: #000000;
}

.back a:hover {
  color: #9068be;
}

.portfolioPage {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.portfolioPage .photos img {
  width: 100%;
  height: 100%;
}

.portfolioPage .photos p {
  text-align: center;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.portfolioPage .video {
  padding-left: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.portfolioPage img {
  padding: 10px 50px 0px 50px;
  width: 35%;
  height: 35%;
}

.socialPress {
  padding-top: 2%;
  padding-bottom: 3%;
}

.eventsList img {
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.resources {
  padding-top: 20px;
}

.resources img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.resources img:hover {
  background-color: #eec4c8;
}

/* NAVBAR GENERATED */
.navbar-default {
  background-color: #30231d;
  border-color: #30231d;
}
.navbar-default .navbar-brand {
  color: #f6f1ed;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eec4c8;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f1ed;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eec4c8;
}
